{{view:header}}

<div class="page-content">
    <div id="view-docs" class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Getting started</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>Sully is a "WVC" (Whatever View Controller) framework. We make no assumptions about your data layer,
                    whilst providing a structure for logic and templating.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm">
                <h3>Creating a project</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>The CLI tool provides an interface for creating new Sully projects and compiling builds.
                You can get it from npm:</p>
                <pre class="prettyprint lang-bash">$ npm i sully -g</pre>
                <p>Because the tool is only for creating and building projects, it's appropriate and more convenient to install it globally.</p>
                <p>Please follow the <a href="/docs">docs</a> from here.</p>
            </div>
        </div>
    </div>
</div>
