{{view:header}}

<div id="view-about" class="sully flex-row">

    <div class="sully col gutters-auto">

        <h1 class="sec-header text-center">ABOUT</h1>
        <hr>
        <p>
            TO VÉRA is a literary journal which focuses on writers without representation
            or a large presence within the publishing industry.
            <br>
        </p>

        <p>
            Our aim is to give talented writers a voice and a chance to build their portfolio.
            <br>
        </p>

    </div>

</div>

{{view:footer}}
