{{view:header}}

<div class="page-content">
    <div id="view-docs" class="container">
        <div class="row">
            <div class="col-sm">
                <ul class="docs-sidebar">
                    <h3>latest stable (v1.0.1)</h3>
                    <li>
                        <a href="releases/1.0.1/sully-1.0.1.js" class="no-route-catch">Development, uncompressed</a>
                    </li>
                    <li>
                        <a href="releases/1.0.1/sully-1.0.1.min.js" class="no-route-catch">Production, compressed</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
