{{view:header}}

<div class="page-content">
    <div id="view-docs" class="container">
        <div class="row">
            <div class="col-sm">
                <ul class="docs-sidebar">
                    <h3>latest stable (v1.0.1)</h3>
                    <li>
                        <a href="/releases/1.0.1/cjs-uncompressed.js" class="no-route-catch">CommonJS, uncompressed</a>
                    </li>
                    <li>
                        <a href="/releases/1.0.1/cjs-compressed.js" class="no-route-catch">CommonJS, compressed</a>
                    </li>
                    <li>
                        <a href="/releases/1.0.1/browser-uncompressed.js" class="no-route-catch">Browser, uncompressed</a>
                    </li>
                    <li>
                        <a href="/releases/1.0.1/browser-compressed.js" class="no-route-catch">Browser, compressed</a>
                    </li>
                    <li>
                        <a href="/releases/1.0.1/umd-uncompressed.js" class="no-route-catch">UMD, uncompressed</a>
                    </li>
                    <li>
                        <a href="/releases/1.0.1/umd-compressed.js" class="no-route-catch">UMD, compressed</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
